@import "tailwindcss";

@theme {
    /* --breakpoint-3xs: 320px;
    --breakpoint-2xs: 350px;
    --breakpoint-xs: 428px; */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1600px;

    /* --breakpoint-tablet: 900px;
    --breakpoint-wide: 1191px; */
}


@font-face {
  font-family: 'Adorage';
  src: url('/font/Adorage.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Matangi-Bold';
  src: url('/font/Matangi-Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Light';
  src: url('/font/Matangi-Light.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Medium';
  src: url('/font/Matangi-Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Regular';
  src: url('/font/Matangi-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Regular';
  src: url('/font/Matangi-Regular.ttf') format('truetype');
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Adorage: 'Adorage';
  --font-Matangi-Bold: 'Matangi-Bold';
  --font-Matangi-Light: 'Matangi-Light';
  --font-Matangi-Medium: 'Matangi-Medium';
  --font-Matangi-Regular: 'Matangi-Regular';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Adorage: var(--font-Adorage);
  --font-Matangi-Bold: var(--font-Matangi-Bold);
  --font-Matangi-Light: var(--font-Matangi-Light);
  --font-Matangi-Medium: var(--font-Matangi-Medium);
  --font-Matangi-Regular: var(--font-Matangi-Regular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @media (max-width: 1600px) { 
  .sub-header{
    max-width: 1400px;
    padding: 0px 16px;
  }
  .Main-Logo div{
    padding: 0;
  }
}
@media (max-width: 1440px) { 
  .sub-header{
    max-width: 1100px;
    padding: 0px 16px;
  }
  .Main-Logo div{
    width: 300px;
    height: 80px;
  }
  .Main-Logo div img{
    width: 100%;
    height: 100%;
  }
  .booking a{
    padding: 10px 10px;
    font-size: 14px;
  }
  .nav-links-desktop a{
    padding: 8px 14px;
  }
}
@media (max-width: 1152px) { 
  .sub-header{
    max-width: 1000px;
  }
  .Main-Logo div{
    width: 250px;
    height: 70px;
  }
  .nav-links-desktop a{
    padding: 8px 10px;
    font-size: 15px;
  }
}
@media (max-width: 1024px) { 
  .sub-header{
    max-width: 900px;
  }
  .Main-Logo div{
    width: 250px;
    height: 70px;
  }
  .nav-links-desktop a{
    font-size: 12px;
  }
  .booking a{
    font-size: 12px;
  }
} */
