@import "tailwindcss";



@font-face {
  font-family: 'Adorage';
  src: url('/font/Adorage.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Matangi-Bold';
  src: url('/font/Matangi-Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Light';
  src: url('/font/Matangi-Light.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Medium';
  src: url('/font/Matangi-Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Regular';
  src: url('/font/Matangi-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Matangi-Regular';
  src: url('/font/Matangi-Regular.ttf') format('truetype');
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Adorage: 'Adorage';
  --font-Matangi-Bold: 'Matangi-Bold';
  --font-Matangi-Light: 'Matangi-Light';
  --font-Matangi-Medium: 'Matangi-Medium';
  --font-Matangi-Regular: 'Matangi-Regular';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Adorage: var(--font-Adorage);
  --font-Matangi-Bold: var(--font-Matangi-Bold);
  --font-Matangi-Light: var(--font-Matangi-Light);
  --font-Matangi-Medium: var(--font-Matangi-Medium);
  --font-Matangi-Regular: var(--font-Matangi-Regular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

